<div class="container">
    <h1 class="my-5">Crear Departamento</h1>
    <form>
        <div class="mt-3">
            <label class="form-label">Número</label>
            <input class="form-control" type="text" #cajanumero name="cajanumero"/>
        </div>
        <div class="mt-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" type="text" #cajanombre name="cajanombre"/>
        </div>
        <div class="mt-3">
            <label class="form-label">Localidad</label>
            <input class="form-control" type="text" #cajalocalidad name="cajalocalidad"/>
        </div>
        <button class="btn btn-success mt-3" (click)="crearDepartamento()">Crear departamento</button>
    </form>
</div>
